.about-title {
  text-align: center;
  color: #3880ff;
  margin-bottom: 20px;
  font-size: 1.5em;
}

ion-card {
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-card-title {
  color: #3880ff;
  font-weight: bold;
}

ion-card-content ul {
  padding-left: 20px;
}

ion-card-content li {
  margin-bottom: 10px;
}
