<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'RECOVER.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <form (ngSubmit)="buscarUsuario()" *ngIf="!mostrarCambio">
          <ion-item>
            <ion-label position="floating"
              >{{ 'RECOVER.EMAIL' | translate }}</ion-label
            >
            <ion-input
              [(ngModel)]="correo"
              name="correo"
              type="email"
              required
            ></ion-input>
          </ion-item>
          <ion-button expand="block" color="primary" type="submit">
            {{ 'RECOVER.SEND_BUTTON' | translate }}
          </ion-button>
        </form>
        <form (ngSubmit)="cambiarPassword()" *ngIf="mostrarCambio">
          <ion-item>
            <ion-label position="floating"
              >{{ 'LOGIN.USERNAME' | translate }}</ion-label
            >
            <ion-input [value]="usuario" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"
              >{{ 'REGISTER.PASSWORD' | translate }}</ion-label
            >
            <ion-input
              [(ngModel)]="nuevaPassword"
              name="nuevaPassword"
              type="password"
              required
            ></ion-input>
          </ion-item>
          <ion-button expand="block" color="success" type="submit">
            {{ 'REGISTER.PASSWORD' | translate }}
          </ion-button>
        </form>
        <ion-text color="danger" *ngIf="error">{{error}}</ion-text>
        <ion-text color="success" *ngIf="exito">{{exito}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
