<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'LOGIN.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentLanguagePopover($event)" fill="clear">
        <span class="language-flag">{{ getCurrentLanguageFlag() }}</span>
        <ion-icon name="chevron-down" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="4">
        <form (ngSubmit)="login()">
          <ion-list lines="none">
            <ion-item>
              <ion-label position="floating"
                >{{ 'LOGIN.USERNAME' | translate }}</ion-label
              >
              <ion-input
                type="text"
                required
                [(ngModel)]="usuario"
                name="usuario"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"
                >{{ 'LOGIN.PASSWORD' | translate }}</ion-label
              >
              <ion-input
                type="password"
                required
                [(ngModel)]="password"
                name="password"
              ></ion-input>
            </ion-item>
          </ion-list>
          <ion-button expand="block" color="primary" type="submit">
            {{ 'LOGIN.LOGIN_BUTTON' | translate }}
          </ion-button>
          <ion-button
            expand="block"
            fill="clear"
            color="secondary"
            [routerLink]="['/registro']"
          >
            {{ 'LOGIN.NO_ACCOUNT' | translate }}
          </ion-button>
          <ion-button
            expand="block"
            fill="clear"
            color="tertiary"
            [routerLink]="['/recuperar']"
          >
            {{ 'LOGIN.FORGOT_PASSWORD' | translate }}
          </ion-button>
          <ion-text color="danger" *ngIf="error">{{error}}</ion-text>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
