// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  /* Primary (Deep Blue - Trustworthy & Accessible) */
  --ion-color-primary: #1d4ed8;
  --ion-color-primary-rgb: 29, 78, 216;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1a44be;
  --ion-color-primary-tint: #3460dc;

  /* Secondary (Amber - Clear Actions) */
  --ion-color-secondary: #f59e0b;
  --ion-color-secondary-rgb: 245, 158, 11;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #d88b0a;
  --ion-color-secondary-tint: #f6a823;

  /* Success (kept, slightly deeper) */
  --ion-color-success: #2e7d32;
  --ion-color-success-rgb: 46, 125, 50;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #286e2c;
  --ion-color-success-tint: #438a46;
}
