// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  /* Primary (trust/tech) */
  --ion-color-primary: #3f88f0;
  --ion-color-primary-rgb: 46, 127, 240;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #4581d4;
  --ion-color-primary-tint: #609df1;

  /* Secondary (warm accent for CTAs) */
  --ion-color-secondary: #ffb300;
  --ion-color-secondary-rgb: 255, 179, 0;
  --ion-color-secondary-contrast: #1a1a1a;
  --ion-color-secondary-contrast-rgb: 26, 26, 26;
  --ion-color-secondary-shade: #e09e00;
  --ion-color-secondary-tint: #ffbe26;

  /* Success (kept, slightly deeper) */
  --ion-color-success: #2e7d32;
  --ion-color-success-rgb: 46, 125, 50;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #286e2c;
  --ion-color-success-tint: #438a46;
}
