.legal-title {
  text-align: center;
  color: #3880ff;
  margin-bottom: 20px;
  font-size: 1.5em;
}

ion-card {
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-card-title {
  color: #3880ff;
  font-weight: bold;
}

.last-update {
  text-align: center;
  font-size: 0.9em;
  color: #666;
  margin-top: 20px;
}
