<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button
        (click)="goToAdmin()"
        aria-label="{{ 'COMMON.BACK' | translate }}"
      >
        <ion-icon name="arrow-back" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon
        name="qr-code"
        slot="start"
        style="margin-right: 8px"
        aria-hidden="true"
      ></ion-icon>
      {{ 'QR_GENERATOR.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title
              >{{ 'QR_GENERATOR.TITLE' | translate }}</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            <ion-input
              [label]="'QR_GENERATOR.TABLE_NUMBER' | translate"
              [(ngModel)]="mesa"
              [placeholder]="'QR_GENERATOR.TABLE_LABEL' | translate"
              type="text"
            ></ion-input>
            <ion-button
              expand="block"
              color="primary"
              (click)="generarQR()"
              style="margin-top: 1em"
            >
              <ion-icon name="qr-code" slot="start"></ion-icon>
              {{ 'QR_GENERATOR.GENERATE_QR' | translate }}
            </ion-button>
            <div *ngIf="qrUrl" style="margin-top: 2em; text-align: center">
              <img
                [src]="qrUrl"
                alt="{{ 'QR_GENERATOR.QR_ALT' | translate }}"
                style="background: #fff; padding: 8px; border-radius: 8px"
              />
              <div
                style="
                  margin-top: 1em;
                  font-size: 0.9em;
                  color: var(--ion-color-medium);
                "
              >
                {{ 'QR_GENERATOR.URL_LABEL' | translate }}:
                <a [href]="qrUrl" target="_blank">{{qrUrl}}</a>
              </div>
              <ion-button
                expand="block"
                color="success"
                (click)="descargarQR()"
              >
                {{ 'QR_GENERATOR.DOWNLOAD_QR' | translate }}
              </ion-button>
              <ion-button
                expand="block"
                color="secondary"
                (click)="imprimirQR()"
              >
                {{ 'QR_GENERATOR.PRINT_QR' | translate }}
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
