<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'TABLE_REPORT.TITLE' | translate }} - {{mesa}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back"></ion-icon>
        {{ 'COMMON.BACK' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title
        >{{ 'TABLE_REPORT.POPULAR_ITEMS' | translate }}</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="unidadesAgrupadas.length">
        <ion-item-divider color="light"
          >{{ 'PRODUCTS.TITLE' | translate }}</ion-item-divider
        >
        <ion-item *ngFor="let unidad of unidadesAgrupadas">
          <ion-label>
            <b>{{unidad.nombre}}</b>
            <span *ngIf="unidad._opciones.length">
              ({{unidad._opciones.join(', ')}})</span
            >
            <br />
            <small>
              {{ 'TABLE_REPORT.TOTAL' | translate }}: {{unidad.cantidad}} | {{
              'TABLE_REPORT.PAID' | translate }}: {{unidadesTachadas(unidad)}} |
              {{ 'TABLE_REPORT.PENDING' | translate }}:
              {{unidadesPendientes(unidad)}}
            </small>
          </ion-label>
          <ion-button
            size="small"
            color="medium"
            (click)="restarSeleccion(unidad)"
            [disabled]="(seleccionadasAgrupadas[unidad._key]||0)===0"
            >-</ion-button
          >
          <span
            style="min-width: 2em; display: inline-block; text-align: center"
            >{{seleccionadasAgrupadas[unidad._key]||0}}</span
          >
          <ion-button
            size="small"
            color="primary"
            (click)="sumarSeleccion(unidad)"
            [disabled]="(seleccionadasAgrupadas[unidad._key]||0)>=unidadesPendientes(unidad)"
            >+</ion-button
          >
        </ion-item>
      </ion-list>
      <div *ngIf="!unidadesAgrupadas.length">
        {{ 'TABLE_REPORT.NO_DATA' | translate }}
      </div>
      <ion-button expand="block" color="success" (click)="fraccionarPago()">
        {{ 'TABLE_REPORT.GENERATE_REPORT' | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
