<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon
        name="fast-food"
        slot="start"
        style="margin-right: 8px"
      ></ion-icon>
      {{ 'PRODUCTS.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isAdding" class="loading-overlay">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <div class="form-producto-wrapper">
    <form (ngSubmit)="agregarProducto()" autocomplete="off">
      <div class="form-card">
        <h2 class="form-title">
          <ion-icon
            name="add-circle"
            style="vertical-align: middle; margin-right: 8px"
          ></ion-icon>
          {{ 'PRODUCTS.ADD_PRODUCT' | translate }}
        </h2>
        <div class="form-fields">
          <ion-item
            class="form-item"
            [color]="!nuevoNombre && intentadoAgregar ? 'danger' : ''"
          >
            <ion-icon name="pizza" slot="start"></ion-icon>
            <ion-input
              [placeholder]="'PRODUCTS.NAME' | translate"
              [(ngModel)]="nuevoNombre"
              name="nombre"
              required
            ></ion-input>
          </ion-item>
          <ion-item class="form-item">
            <ion-icon name="document-text" slot="start"></ion-icon>
            <ion-textarea
              [placeholder]="'PRODUCTS.DESCRIPTION' | translate"
              [(ngModel)]="nuevaDescripcion"
              name="descripcion"
            ></ion-textarea>
          </ion-item>
          <ion-item class="form-item">
            <ion-icon name="leaf" slot="start"></ion-icon>
            <ion-textarea
              [placeholder]="'PRODUCTS.ALLERGENS' | translate"
              [(ngModel)]="nuevosAlergenos"
              name="alergenos"
            ></ion-textarea>
          </ion-item>
          <ion-item class="form-item">
            <ion-icon name="options" slot="start"></ion-icon>
            <ion-input
              [placeholder]="'PRODUCTS.NEW_OPTION' | translate"
              [(ngModel)]="opcionTemp"
              name="opcionTemp"
            ></ion-input>
            <ion-button fill="clear" color="primary" (click)="agregarOpcion()">
              <ion-icon name="add-circle" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-list *ngIf="nuevasOpciones.length" class="opciones-list">
            <ion-item
              *ngFor="let op of nuevasOpciones; let i = index"
              class="opcion-item"
            >
              <ion-icon name="checkmark-circle" slot="start"></ion-icon>
              <ion-label>{{op}}</ion-label>
              <ion-button
                fill="clear"
                color="danger"
                slot="end"
                (click)="eliminarOpcion(i)"
              >
                <ion-icon name="trash-sharp"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
          <ion-item class="form-item">
            <ion-icon name="image" slot="start"></ion-icon>
            <label class="custom-file-label">
              <ion-icon
                name="cloud-upload"
                style="margin-right: 6px"
              ></ion-icon>
              <span>{{ 'PRODUCTS.SELECT_IMAGE' | translate }}</span>
              <input
                type="file"
                accept="image/*"
                (change)="onImageSelected($event)"
                class="custom-file-input"
              />
            </label>
          </ion-item>
          <div *ngIf="nuevaImagen" class="preview-img-wrapper">
            <img [src]="nuevaImagen" alt="Vista previa" class="preview-img" />
          </div>
          <ion-item
            class="form-item"
            [color]="!nuevoPrecio && intentadoAgregar ? 'danger' : ''"
          >
            <ion-icon name="cash" slot="start"></ion-icon>
            <ion-input
              type="number"
              min="0"
              step="0.01"
              [placeholder]="'PRODUCTS.PRICE' | translate"
              [(ngModel)]="nuevoPrecio"
              name="precio"
              required
            ></ion-input>
          </ion-item>
          <ion-item
            class="form-item"
            [color]="!nuevaCategoria && intentadoAgregar ? 'danger' : ''"
          >
            <ion-icon name="albums" slot="start"></ion-icon>
            <ion-select
              required
              [placeholder]="'PRODUCTS.CATEGORY' | translate"
              [(ngModel)]="nuevaCategoria"
              name="categoria"
            >
              <ion-select-option
                *ngFor="let cat of categorias$ | async"
                [value]="cat.id"
                >{{ getNombreCategoria(cat) }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </div>
        <ion-button
          expand="block"
          color="success"
          type="submit"
          class="btn-agregar"
          [disabled]="isAdding"
        >
          <ion-icon *ngIf="!isAdding" name="add" slot="start"></ion-icon>
          <ion-spinner
            *ngIf="isAdding"
            name="crescent"
            slot="start"
          ></ion-spinner>
          <span *ngIf="!isAdding"
            >{{ 'PRODUCTS.ADD_PRODUCT' | translate }}</span
          >
          <span *ngIf="isAdding">{{ 'PRODUCTS.SAVING' | translate }}</span>
        </ion-button>
      </div>
    </form>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ng-container *ngFor="let cat of categoriasConOpen">
            <ion-item
              button
              detail
              lines="none"
              (click)="cat._open = !cat._open"
            >
              <ion-icon
                name="chevron-down"
                slot="start"
                *ngIf="!cat._open"
              ></ion-icon>
              <ion-icon
                name="chevron-up"
                slot="start"
                *ngIf="cat._open"
              ></ion-icon>
              <ion-label
                ><strong>{{ getNombreCategoria(cat) }}</strong></ion-label
              >
            </ion-item>
            <div *ngIf="cat._open">
              <ng-container
                *ngFor="let producto of (productos$ | async) | categoryFilter:cat.id"
              >
                <ion-item>
                  <ion-avatar slot="start" *ngIf="producto.imagen">
                    <img [src]="producto.imagen" alt="Imagen producto" />
                  </ion-avatar>
                  <ion-label>
                    <h3>
                      <ion-icon
                        name="restaurant"
                        style="vertical-align: middle"
                      ></ion-icon>
                      {{ producto.nombre }}
                      <span
                        style="
                          color: var(--ion-color-success);
                          font-weight: bold;
                          margin-left: 10px;
                        "
                      >
                        {{ producto.precio | currency:'EUR':'symbol':'1.2-2' }}
                      </span>
                    </h3>
                    <div
                      style="font-size: 0.95em; color: #666; margin-top: 2px"
                    >
                      {{ producto.categoria }}
                    </div>
                    <p *ngIf="producto.descripcion">
                      <ion-icon
                        name="document-text"
                        style="vertical-align: middle"
                      ></ion-icon>
                      <strong>{{ 'PRODUCTS.DESCRIPTION' | translate }}:</strong>
                      {{producto.descripcion}}
                    </p>
                    <p *ngIf="producto.alergenos">
                      <strong>{{ 'PRODUCTS.ALLERGENS' | translate }}:</strong>
                      {{producto.alergenos}}
                    </p>
                    <div *ngIf="producto.opciones && producto.opciones.length">
                      <ion-icon
                        name="options"
                        style="vertical-align: middle"
                      ></ion-icon>
                      <strong>{{ 'PRODUCTS.OPTIONS' | translate }}:</strong>
                      <ul>
                        <li *ngFor="let op of producto.opciones">
                          <ion-icon
                            name="checkmark-circle"
                            style="vertical-align: middle"
                          ></ion-icon>
                          {{op}}
                        </li>
                      </ul>
                    </div>
                  </ion-label>
                  <ion-button
                    fill="clear"
                    color="primary"
                    slot="end"
                    (click)="iniciarEdicion(producto)"
                  >
                    <ion-icon name="create"></ion-icon>
                    Editar
                  </ion-button>
                  <ion-button
                    fill="clear"
                    color="danger"
                    slot="end"
                    (click)="eliminarProducto(producto.id)"
                  >
                    <ion-icon name="trash-sharp"></ion-icon>
                    Eliminar
                  </ion-button>
                </ion-item>
              </ng-container>
            </div>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
