<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="albums" slot="start" style="margin-right: 8px"></ion-icon>
      {{ 'CATEGORIES.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-categoria-wrapper">
    <form (ngSubmit)="agregarCategoria()" autocomplete="off">
      <div class="form-card">
        <h2 class="form-title">
          <ion-icon
            name="add-circle"
            style="vertical-align: middle; margin-right: 8px"
          ></ion-icon>
          {{ 'CATEGORIES.ADD_CATEGORY' | translate }}
        </h2>
        <div class="form-fields">
          <ion-item class="form-item">
            <ion-icon name="pricetag" slot="start"></ion-icon>
            <ion-input
              [placeholder]="'CATEGORIES.NAME' | translate"
              [(ngModel)]="nuevaCategoria"
              name="nombreCategoria"
              required
            ></ion-input>
          </ion-item>
        </div>
        <ion-button
          expand="block"
          color="success"
          type="submit"
          class="btn-agregar"
        >
          <ion-icon name="add" slot="start"></ion-icon>
          {{ 'CATEGORIES.ADD_CATEGORY' | translate }}
        </ion-button>
      </div>
    </form>
  </div>
  <div *ngIf="mensajeExito" class="mensaje-exito">
    <ion-icon
      name="checkmark-circle"
      color="success"
      style="vertical-align: middle; margin-right: 6px"
    ></ion-icon>
    {{ 'CATEGORIES.CATEGORY_SAVED' | translate }}
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item *ngFor="let categoria of categorias$ | async">
            <ng-container *ngIf="editando !== categoria.id; else editBlock">
              <ion-icon name="pricetag" slot="start"></ion-icon>
              <ion-label>{{ getNombreCategoria(categoria) }}</ion-label>
              <ion-button
                fill="clear"
                color="primary"
                slot="end"
                (click)="iniciarEdicion(categoria)"
              >
                <ion-icon name="create"></ion-icon>
                {{ 'COMMON.EDIT' | translate }}
              </ion-button>
              <ion-button
                fill="clear"
                color="danger"
                slot="end"
                (click)="eliminarCategoria(categoria.id)"
              >
                <ion-icon
                  name="trash-sharp"
                  slot="start"
                  aria-hidden="true"
                ></ion-icon>
                {{ 'COMMON.DELETE' | translate }}
              </ion-button>
            </ng-container>
            <ng-template #editBlock>
              <ion-input [(ngModel)]="editNombre"></ion-input>
              <ion-button
                fill="clear"
                color="success"
                slot="end"
                (click)="guardarEdicion(categoria.id)"
              >
                <ion-icon name="checkmark"></ion-icon>
                {{ 'COMMON.SAVE' | translate }}
              </ion-button>
              <ion-button
                fill="clear"
                color="medium"
                slot="end"
                (click)="cancelarEdicion()"
              >
                <ion-icon name="close"></ion-icon>
                {{ 'COMMON.CANCEL' | translate }}
              </ion-button>
            </ng-template>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
