<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon
        name="restaurant"
        slot="start"
        style="margin-right: 8px"
        aria-hidden="true"
      ></ion-icon>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" class="ion-text-center">
        <h2>
          <ion-icon
            name="bar-chart"
            style="font-size: 2rem; vertical-align: middle"
            aria-hidden="true"
          ></ion-icon>
          ¡Bienvenido a BarAdmin!
        </h2>
        <p>
          <ion-icon
            name="cafe"
            style="vertical-align: middle"
            aria-hidden="true"
          ></ion-icon>
          Gestiona tu restaurante de forma fácil y moderna.
        </p>
        <ion-button color="primary" (click)="goToLogin()">
          <ion-icon name="log-in" slot="start" aria-hidden="true"></ion-icon>
          Acceder como administrador
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
