<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'REGISTER.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentLanguagePopover($event)" fill="clear">
        <span class="language-flag">{{ getCurrentLanguageFlag() }}</span>
        <ion-icon name="chevron-down" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <form (ngSubmit)="registrarBar()">
          <ion-item>
            <ion-label position="floating"
              >{{ 'REGISTER.BAR_NAME' | translate }}</ion-label
            >
            <ion-input
              [(ngModel)]="nombreBar"
              name="nombreBar"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"
              >{{ 'REGISTER.ADMIN_USERNAME' | translate }}</ion-label
            >
            <ion-input
              [(ngModel)]="usuarioAdmin"
              name="usuarioAdmin"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"
              >{{ 'REGISTER.PASSWORD' | translate }}</ion-label
            >
            <ion-input
              [(ngModel)]="password"
              name="password"
              type="password"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"
              >{{ 'REGISTER.RECOVERY_EMAIL' | translate }}</ion-label
            >
            <ion-input
              [(ngModel)]="correo"
              name="correo"
              type="email"
              required
            ></ion-input>
          </ion-item>
          <ion-button expand="block" color="success" type="submit">
            {{ 'REGISTER.REGISTER_BUTTON' | translate }}
          </ion-button>
        </form>
        <ion-text color="danger" *ngIf="error">{{error}}</ion-text>
        <ion-text color="success" *ngIf="exito">{{exito}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
